sudo: false
cache:
  directories:
    - .cabal-sandbox
language: haskell
ghc: 7.8
before_install:
  - cabal install cabal-install
  - export PATH=$HOME/.cabal/bin:$PATH
install:
  - cabal sandbox init
  - cabal install --only-dependencies --enable-tests
script:
  - cabal configure --enable-tests
  - cabal build
  - cabal test --show-details=streaming
