sudo: false
cache:
  directories:
    - .cabal-sandbox
    - dist
    - $HOME/.cabal
language: haskell
addons:
  apt:
    sources:
    - hvr-ghc
    packages:
    - ghc-7.10.1
    - cabal-install-1.22
    - happy
before_install:
  - ghc --version
  - export PATH=/opt/ghc/7.10.1/bin:/opt/cabal/1.22/bin:$PATH
  - ghc --version
install:
  - cabal sandbox init
  - cabal install --only-dependencies --enable-tests
script:
  - cabal configure --enable-tests
  - cabal build
  - cabal test --show-details=streaming
