sudo: false
cache:
  directories:
    - $HOME/.stack
language: haskell
addons:
  apt:
    sources:
    - hvr-ghc
    packages:
    - ghc-7.10.1
    - cabal-install-1.22
    - happy
before_install:
  - mkdir -p ~/.local/bin
  - export PATH=~/.local/bin:$PATH
  - travis_retry curl -L https://github.com/commercialhaskell/stack/releases/download/v0.1.2.0/stack-0.1.2.0-x86_64-linux.gz | gunzip > ~/.local/bin/stack
  - chmod a+x ~/.local/bin/stack
install:
  - stack --no-terminal setup
script:
  - stack --no-terminal test
